.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar_warapper a{
  padding-left: 30px;
}
.delete{
  background-color: rgb(238 44 44) !important;
  color:#fff;
  padding: 5px !important;
  border-radius: 5px;
  cursor: pointer;
}
.update {
  background-color: rgb(44, 238, 86) !important;
  color:#fff;
  padding: 5px !important;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none !important;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logout{
  padding-right: 100px;
  color: #fff;
}
#logout:hover{
  color: rgb(205, 197, 197) !important;
}